<section class="desktop-frame centered">
  <div class="desktop-content-container centered">
    <snake-board [lives$]="lives$" [score$]="score$" (snakeBoardInitializeEmitter)="onStartGame($event)">
      <div isPlaying>
        Running? {{ isPlaying$ | async }}
      </div>
      <snake snake [snake$]="snake$" [directions$]="direction$"
             (playEmitter)="onPlayGame()" (pauseEmitter)="onPauseGame()"
             (snakeChangeDirectionEmitter)="manageActions($event)"/>
      <snake-food food [food$]="food$"/>
    </snake-board>
  </div>
</section>
