.snake-board {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: lightpink;
}

.snake-crawling-field-frame {
  height: 90%;
  width: 100%;
  position: absolute;
  top: 10%;
}

.snake-crawling-field {
  background-color: black;
  height: 100%;
  width: 100%;
}

.snake-score-board {
  background-color: black;
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  color: white;
  padding-inline: min(24px, 1.667vw);
}

.snake-score-board > div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.info-container {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 80%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      color: white;
      display: flex;
      align-items: center;
    }
  }
}
